@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.header h1 {
  font-size: 50px;
  color: gray;
  font-weight: 600;
}

.per {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 20px;
  font-weight: 600;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

form .form_div {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form #value {
  margin-bottom: 1rem;
}

form .form_div input {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: rgb(185, 185, 185) solid 1px;
  outline: none;
}

form button {
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  background-color: #dc482e;
}

form .form_div input:focus {
  border: rgb(62, 143, 59) solid 1px;
}

.timer {
  text-align: center;
  font-size: 3rem;
}

#playerCards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

div.playerCard {
  color: white;
  font-size: 18px;
  width: 30%;
  background-color: #10296D;
  border-radius: 8px;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
}

.perCard {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
  object-fit: cover;
  display: block;
}

.gameSetup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}

p.topTitle {
  font-size: 20px;
  width: 100%;
}

#uploadStats,
#gameButton,
#avePER {
  width: 100%;
}

#uploadStats input {
  width: 100%;
  padding: 0.5rem;
}

.gamePlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

div.column {
  float: left;
  height: 500px;
  position: relative;
}

p.title {
  text-align: center;
  vertical-align: bottom;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

p.subtitle {
  text-align: center;
  vertical-align: bottom;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 100%;
}

#bench,
#court,
#stats {
  height: 600px;
  width: 100%;
}

#bench {
  background: #10296D;
  color: #DC482E;
}

#court {
  background: #DC482E;
  color: #10296D;
}

#stats {
  background: #AC6FAA;
  color: #10296D;
}

.start {
  font-size: 30px;
  border: none;
  background-color: #10296D;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

#playersOnBench {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.playerButton {
  background-color: #AC6FAA;
  border-radius: 5px;
  border: none;
  width: 30%;
  height: 70px;
  cursor: pointer;
}